In [ ]:
# List = Denoted :- [ ]

In [3]:
l = list(range(10,50,5))
print(l)

[10, 15, 20, 25, 30, 35, 40, 45]

In [23]:
s = "Learning Python is Easy"
r = s.split()
print(r)
for i in r:
    print(i)

['Learning', 'Python', 'is', 'Easy']
Learning
Python
is
Easy

In [36]:
n = [10,20,30,40]
print(n[1])
print(n[-1])
print(n[0])
print(n[10])

20
40
10

IndexError: list index out of range

In [44]:
# slid
n = [1,2,3,4,5,6,7,8,9,10]
print(n[2:7:2])
print(n[4: :2])
print(n[3:7])
print(n[8:2:-2])
print(n[100:1:-1])
print(n[100: :-1])

[3, 5, 7]
[5, 7, 9]
[4, 5, 6, 7]
[9, 7, 5]
[10, 9, 8, 7, 6, 5, 4, 3]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
n = [1,2,3,4,5,6,7,8,9,10]
i = 0
while i < len(n):
    print(n[i])
    i+=1

1
2
3
4
5
6
7
8
9
10

In [4]:
n = [1,2,3,4,5,6,7,8,9,10]
for i in range(len(n)):
    print(n[i])

1
2
3
4
5
6
7
8
9
10

In [6]:
n = [1,2,3,4,5,6,7,8,9,10]
for i in n:
    print(
        i)

1
2
3
4
5
6
7
8
9
10

In [12]:
# IMP Function

# count 
n = [1,2,2,3,3,3]
print("Count",n.count(2))
print("Index",n.index(3))

Count 2
Index 3

In [18]:
# append

n = [1,2,3,4,5]
n.append(10)
print(n)

[1, 2, 3, 4, 5, 10]

In [24]:
# insert

n = [1,2,3,4,5]
n.insert(1,30)
print(n) 

n1 = [1,2,3,4,5]
n1.insert(10,30)
print(n1)

n3 = [1,2,3,4,5]
n3.insert(-10,30)
print(n3)

[1, 30, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 30]
[30, 1, 2, 3, 4, 5]

In [25]:
# extend

l1 = ["Jeel","Patel"]
l2 = ["Cse","Sem 3"]
l1.extend(l2)
print(l1)
print(l2)

['Jeel', 'Patel', 'Cse', 'Sem 3']
['Cse', 'Sem 3']

In [33]:
l1 = [32,"Patel"]
l2 = ("Sem 3",)
l1.extend(l2)
print(l1)
print(l2)

[32, 'Patel', 'Sem 3']
('Sem 3',)

In [50]:
# Remove

n = [1,2,3,"patel",1,5,"jeel"]
n.remove(n[2])
print(n)

[1, 2, 'patel', 1, 5, 'jeel']

In [53]:
# POP

n = [1,2,3,4,5]
print(n.pop())
print("Pop_1",n)
print(n.pop())
print("Pop_2",n)

5
Pop_1 [1, 2, 3, 4]
4
Pop_2 [1, 2, 3]

In [56]:
n = [1]
print(n.pop())
print(n.pop())

1

IndexError: pop from empty list

In [64]:
n = [1,2,3,4,5,6,7,8,9,10]
print(n.pop())
print(n.pop(1))
print(n.pop(10))

10
2

IndexError: pop index out of range

In [67]:
# clears

n = [1,2,3,4,5]
n.clear()
print(n)

[]

In [72]:
# reverse :- Origanl Valvu are change.
n1 = [1,2,3,4]
n1.reverse()
print(n1)

# reversed :- Origanl Valvu are Not change.
n2 = [1,2,3,4]
print(list(reversed(n2)))
print(n2)

[4, 3, 2, 1]
[4, 3, 2, 1]
[1, 2, 3, 4]

In [74]:
# Sort :- Origanl Valvu are change.
# Sorted :- Origanl Valvu are Not change.

n = [1,3,2,6,4,7]
n.sort()
print(n)

[1, 2, 3, 4, 6, 7]

In [80]:
a = [3,7,5,2,9,5,]
a.sort(reverse=True)
print(a)

[9, 7, 5, 5, 3, 2]

In [81]:
# Mathematical Function

In [83]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [84]:
a = [1,2,3]
b = a+[4]
print(b)

[1, 2, 3, 4]

In [85]:
a = [1,2,3]
b = a*3
print(b)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# Compaisom Op

In [87]:
x = ["Dog","Cat","Rat"]
y = ["Dog","Cat","Rat"]
z = ["DOG","CAT","RAT"]

print(x==y)
print(x==z)
print(z==y)

True
False
False

In [89]:
x = [50,20,30]
y = [40,50,60,100,20]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

True
True
False
False

In [91]:
x = ["Dog","Cat","Rat"]
y = ["Rat","Cat","Dog"]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

In [ ]:
# Member Ship ( IN , NOT IN)

In [92]:
n = [10,20,30,40]
print(10 in n)
print(10 not in n)
print(50 in n)

True
False
False

In [107]:
x = [10,20,30,40,50]
#y = x.copy()
y = x[:]
y[1] = 72
print(y)
print(x)
print(id(x))
print(id(y))

[10, 72, 30, 40, 50]
[10, 20, 30, 40, 50]
2545489741760
2545489739968

In [ ]:
# Nested List
# n = [10,20,[30,40]]

# to acces the nested list we use [ 2 index ][In 2 index : start index]

In [2]:
n = [10,20,[30,40]]
print(n[0])
print(n[1])
print(n[2])
print(n[2][0])
print(n[2][1])

10
20
[30, 40]
30
40

In [10]:
n = [10,20,30,[40,50,60,70,[80,90,100]]]
print(n[0])
print(n[1])
print(n[2])
print(n[3])
print(n[3][0])
print(n[3][1])
print(n[3][2])
print(n[3][4])
print(n[3][4][0])
print(n[3][4][1])
print(n[3][4][2])

10
20
30
[40, 50, 60, 70, [80, 90, 100]]
40
50
60
[80, 90, 100]
80
90
100

In [16]:
n = [[10,20,30],[40,50,60],[70,80,90]]
for i in range(len(n)):
    for j in range(len(n[i])):
        print(n[i][j],end=" ")
    print()

10 20 30
40 50 60
70 80 90

In [27]:
# list Com

#list = [ expenstion for item in list it condistion ]

s = [x*x for x in range(1,11)]
print(s)

s1 = [2**x for x in range(1,6)]
print(s1)

d = [ x for x in s if x%2==0]
print(d)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[4, 16, 36, 64, 100]

In [32]:
# Dictionary :-  [key = value]

d = { 4:"hello" }
d[1] = "Jeel"
d[2] = "B"
d[3] = "Patel"
print(d)

{4: 'hello', 1: 'Jeel', 2: 'B', 3: 'Patel'}

In [45]:
d = { 1:"Jeel" , 2:"B" , 3:"Patel" }
print(d[2])
if 40 in d:
    print(d[40])

B

In [52]:
d = { 1:"Jeel" , 2:"B" , 3:"Patel" }
d[4] = "Hello"
print(d) # Addd
d[2] = "hey"
print(d) # Update
del d[2]
print(d) # Delet

{1: 'Jeel', 2: 'B', 3: 'Patel', 4: 'Hello'}
{1: 'Jeel', 2: 'hey', 3: 'Patel', 4: 'Hello'}
{1: 'Jeel', 3: 'Patel', 4: 'Hello'}

In [54]:
d = { 1:"Jeel" , 2:"B" , 3:"Patel" }

d.clear() # inner data clear
print(d)

del d  # ful Dictionary delet
print(d)

{}

NameError: name 'd' is not defined

In [63]:
d = dict([ (10,"A"),(20,"B"),(30,"C"),(40,"D"),(50,"C1"),(60,"D1") ])
x = len(d)
print(d)
print(x)

{10: 'A', 20: 'B', 30: 'C', 40: 'D', 50: 'C1', 60: 'D1'}
6

In [64]:
# .copy()

d = { 1:"Jeel" , 2:"B" , 3:"Patel" }
d1 = d.copy()
print(d1)

{1: 'Jeel', 2: 'B', 3: 'Patel'}

In [65]:
# Update

d = { 1:"Jeel" , 2:"B" , 3:"Patel" }
x = { 4:"hello" }
d.update(x)
print(d)

{1: 'Jeel', 2: 'B', 3: 'Patel', 4: 'hello'}

In [70]:
d = { 1:"Jeel" , 2:"B" , 3:"Patel" }
print(d[1])
print(d.get(2))
print(d.get(4))
print(d.get(1,"Guest"))
print(d.get(4,"Guest"))

Jeel
B
None
Jeel
Guest

In [75]:
d = { 1:"Jeel" , 2:"B" , 3:"Patel" }
print(d.popitem())

(3, 'Patel')

In [101]:
d = { 1:"Jeel" , 2:"B" , 3:"Patel" }
print(d.keys())
for i in d.keys():
    print(i)
    
print(d.values())
for i in d.values():
    print(i)

dict_keys([1, 2, 3])
1
2
3
dict_values(['Jeel', 'B', 'Patel'])
Jeel
B
Patel

In [109]:
d = { 1:"Jeel" , 2:"B" , 3:"Patel" }
for k,v in d.items():
    print(k,"->",v)

1 -> Jeel
2 -> B
3 -> Patel

In [111]:
d = { 1:"Jeel" , 2:"B" , 3:"Patel" }
print(d.setdefault(4,"Hello")) # it will add new value
print(d)
print(d.setdefault(2,"R")) # old value will print
print(d)

Hello
{1: 'Jeel', 2: 'B', 3: 'Patel', 4: 'Hello'}
B
{1: 'Jeel', 2: 'B', 3: 'Patel', 4: 'Hello'}

In [ ]:
# set :- {  } :- 
# :- Duplicate not allowes
# :- Index and slicing not allowes
# :- { } with comma seprate 
# :- Union , dreffent , sum_differnt , interrection

In [112]:
s = {10,10,0,20,30,40,40,40}
print(s)

{0, 40, 10, 20, 30}

In [115]:
l = [10,20,30,20,30,30,20,40,50]
s = set(l)
print(s)

{40, 10, 50, 20, 30}

In [116]:
s = set(range(1,10))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [119]:
s = {}
s = set()
print(type(s))

<class 'set'>

In [123]:
# Maths Opration :- [1 : Unions ]
x = {10,20,30,40,50}
y = {60,30,80,40,10}
print(x.union(y))
print(x|y)

{40, 10, 80, 50, 20, 60, 30}
{40, 10, 80, 50, 20, 60, 30}

In [126]:
# Maths Opration :- [2 : Intersection ]
x = {10,20,30,40,50}
y = {60,30,50,40,10}
print(x.intersection(y))
print(x&y)

{40, 10, 50, 30}
{40, 10, 50, 30}

In [129]:
# Maths Opration :- [3 : Difference ]
x = {10,20,30,40,50} # element present in x but not in y
y = {60,30,50,40,10}
print(x.difference(y))
print(x-y)

{20}
{20}

In [133]:
# Maths Opration :- [4 : symmetric_difference  ]
x = {10,20,30,40,50} # print the value elemnt in are not same in X,Y
y = {60,30,50,40,10}
print(x.symmetric_difference(y))

{20, 60}

In [136]:
# Add()

s = {10,20,30,40}
s.add(50)
print(s)

{40, 10, 50, 20, 30}

In [140]:
# Update()

s = {10,20,30}
l = {40,50,60}
s.update(l,range(5))
print(s)

{0, 1, 2, 3, 4, 10, 20, 30, 40, 50, 60}

In [141]:
# copy()

x = {10,20,30}
y = x.copy()
print(y)

{10, 20, 30}

In [145]:
# pop()

x = {10,20,30}
print(x)
print("POP ",x.pop())
print(x)

{10, 20, 30}
POP  10
{20, 30}

In [160]:
# Remove   &   # Discard

s = {10,20,30,40}
s.remove(20)
# s.remove(50) show:-error
print(s)
print("------")
s.discard(30)
s.discard(50)
print(s)

{40, 10, 30}
------
{40, 10}

In [169]:
# SET

s1 = { x*x for x in range(5)}
print(s1)

s2 = { 2**x for x in range(2,10,2)}
print(s2)

print("---------------------------")

# DICT 

squre = { x: x*x for x in range(1,6) }
print(squre)

doubble = {x: 2*x for x in range(1,6)}
print(doubble)

{0, 1, 4, 9, 16}
{16, 256, 64, 4}
---------------------------
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [1]:
x = {"a","b","c"}
y = {"c","d","e","f","a","b",}
x = x.issubset(y)
print(x)

True

In [5]:
#issubset()

a = {1,2,3,4,5}
b = {1,2,3}
c = {1,2,3,4}
print(a.issuperset(b))
print(b.issuperset(a))
print(c.issuperset(b))
print(b.issuperset(c))

True
False
True
False

In [6]:
# Lambda function

s = lambda n:n*n
print("The Squre of :",s(4))

The Squre of : 16

In [7]:
s = lambda a,b:a+b
print("The sum :",s(15,15))

The sum : 30

In [16]:
max = lambda a,b: a if (a>b) else b
print("The Max is :",max(653,356))

The Max is : 653

In [ ]:
# Lambda fuction :- 
# 1 :- map function :- map(function,sequence)
# 2 :- Reduce :- used to reduct sequren into one element
# 3 :- filter :- filter value from gives sequence based on condition

In [22]:
# 1 :- map function :- map(function,sequence)

l = [1,2,3,4,5]
li = list(map(lambda x:2*x,l))
print(li)

[2, 4, 6, 8, 10]

In [33]:
# 2 :- Reduce :- used to reduct sequren into one element

from functools import *

l = [10,20,30,40,50]

sum = reduce(lambda x,y:x+y,l)
print(sum)

mul = reduce(lambda x,y:x*y,l)
print(mul)

max = reduce(lambda a,b: a if (a>b) else b,l)
print(max)

150
12000000
50

In [35]:
# 3 :- filter :- filter value from gives sequence based on condition

def iseven(x):
    if x%2==0:
        return True
    else:
        return False
l = [1,2,3,4,5,6,7,8,9,0]
li = list(filter(iseven,l))
print(li)

[2, 4, 6, 8, 0]

In [71]:
l = [1,2,3,4,5,6,7,8,9,0]
li = list(filter(lambda a:a%2==0,l))
print(li)

[2, 4, 6, 8, 0]

In [77]:
sum=0
list = [1,2,3,4,5]
for i in list:
    sum=sum+i
print(sum)

15

In [5]:
from functools import *
l = [190,140,237,462,123,78]
x = list(filter(lambda x:True if x%13==0 or x%19==0 else False,l))
print(x)

[190, 78]

In [10]:
a = "One Nation, One India, One Bharat"
x= a.split()
print(x)
d = {b:x.count(b) for b in x}
print(d)

['One', 'Nation,', 'One', 'India,', 'One', 'Bharat']
{'One': 3, 'Nation,': 1, 'India,': 1, 'Bharat': 1}

In [ ]:
from functools import *
#list = [11,5,17,18,23]

l = [12,45,67,89,123]

even = list(filter(lambda x:True if x%2==0 else False,l))
leven(reduce(lambda x,y: x if x>y else y , even ))
seven(reduce(lambda x,y: x if x<y else y , even ))
odd = list(filter(lambda x:True if (x%2==0) else False,l))